@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al home de Aranda</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="~/Images/aranda-health-report-banner.jpg" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="~/Images/background-slide-teletrabajo.jpg" class="d-block w-100" alt="Image 2">
            </div>
            <div class="carousel-item active">
                <img src="~/Images/banner-landing-page-albi-final.jpg" class="d-block w-100" alt="Iamge 3">
            </div>
        </div>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
